.brand-section{
    margin-top: 2rem;
}



.brands {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: flex-start; /* Start items from the left */
    overflow-x: auto; /* Enable horizontal scrolling */
    flex-wrap: nowrap; /* Prevent items from wrapping to next line */
    padding: 10px; /* Optional padding for the container */
    -webkit-overflow-scrolling: touch; /* Improved scrolling for iOS */
}

.brands::-webkit-scrollbar {
    display: none; /* Hide the scrollbar in WebKit browsers */
}

.brand-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 220px;
    padding: 0; /* Remove padding to avoid extra space */
    box-sizing: border-box;
    flex-shrink: 0; /* Prevent items from shrinking */

    overflow-x: auto;
    scroll-behavior: smooth;
    scroll-snap-align: start;
}

.brand-container img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain; 
    border: 2px solid #E9ACB6;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto; 
    padding: 0; 
    box-sizing: border-box;

    scroll-snap-align: start;
}




/* scroll */

.bar {
    display: flex;
    align-items: center;
    gap: 30px;
    width: 80%;
    max-width: 1000px;
    /* height: 400px; */
    margin: 25px auto;
    position: relative;
    overflow-x: auto;
    scroll-behavior: smooth;
    scroll-snap-align: start;
    padding-bottom: 10px;
}

.card {
    min-width: 23%;
    height: 100%;
    /* background-color: #E9ACB6; */
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    scroll-snap-align: start;

}

.bar img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain; 
    border: 2px solid #E9ACB6;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto; 
    padding: 0; 
    box-sizing: border-box;

    scroll-snap-align: start;
}

.bar::-webkit-scrollbar {
    width: 13px;
    height: 5px;
    
}

.bar::-webkit-scrollbar-thumb{
    background-color: #E9ACB6;
    border-radius:30px;
}

/* scroll end */


@media (max-width: 400px) {
    .heading {
        font-size: .57rem;
        text-align: center;
    }
    .subheading{
      font-size: .5rem;
      text-align: center;
    }
  
   
  }





.heading-2{
    margin-top: 2rem;
    /* background-color: #CF9FFF; */
    position: relative;
    background: linear-gradient(to left, #D3DEFA, #C7AEEF, #D3C4EC, #C5AFED);
    padding: 1.5rem 1rem;
    text-align: center;
}

.heading-2 h1{

   
    text-shadow:
        -1px -1px 0 #fff,   /* Top left shadow */
        1px -1px 0 #fff,    /* Top right shadow */
        -1px 1px 0 #fff,    /* Bottom left shadow */
        1px 1px 0 #fff;     /* Bottom right shadow */
}



/* animation */
.spot {
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: white;
    border-radius: 50%;
    filter: blur(10px);
    animation: move 10s infinite alternate ease-in-out;
}

.spot1 {
    animation-delay: 0s;
}

.spot2 {
    animation-delay: 2.5s;
}


@keyframes move {
    0% {
        top: 10%;
        left: 10%;
    }
    /* 25% {
        top: 10%;
        left: 80%;
    } */
    50% {
        top: 80%;
        left: 80%;
    }
    /* 75% {
        top: 80%;
        left: 10%;
    }  */
    100% {
        top: 10%;
        left: 80%;
    }
}
/* animation end */

/* Media query for small screens */
@media (max-width: 1168px) {
    .heading {
        flex-direction: column;
       
    }

    .heading hr {
        width: 100px;
    }

    .brands {
        justify-content: center;
        overflow-x: auto;
        height: 160px;
       
        align-items: center;
    }

    .brand-container {
        width: 150px;
        height: 85px;
       
    }

    .heading-2 {
        padding: 1.5rem 1rem;
    }

    .heading-2 h1 {
        font-size: 1.5rem;
    }
    .bar::-webkit-scrollbar {
        width: 13px;
        height: 3.5px;
        
    }
}

@media (max-width: 620px) {
    .heading {
        flex-direction:column;
        gap: 0.5rem;
    }

    .heading hr {
        width: 75px;
    }

    .brands {
        justify-content: center;
        overflow-x: auto;
       
        height: 200px;
    }

    .brand-container {
        width: 120px;
        height: 70px;
    }

    .heading-2 {
        padding: 1rem 0.5rem;
    }

    .heading-2 h1 {
        font-size: 1.2rem;
    }
    .bar::-webkit-scrollbar {
        width: 13px;
        height: 3px;
        
    }
}

@media (max-width: 480px) {
  .card{
    min-width: 35%;
  }

  .heading-2 {
    padding: 1rem 0.5rem;
}

.heading-2 h1 {
    font-size: .8rem;
}
.bar::-webkit-scrollbar {
    width: 13px;
    height: 2px;
    
}

}