.main {
    width: 100vw;
    height: 80vh;
    background-color: white;
    margin: 20px 0;
    box-sizing: border-box;
    padding: 15px;
    display: flex;
    flex-direction: column;
    /* background-image: url(/images/Shop_By_Category/background.svg); */
    background-position: center;
    background-size:cover;
}


.notifi{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 200px;
}


.content {
    width: 100%;
    height: 70vh;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.categories-container {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 50px;
    width: 50%;
    height: 90%;
    box-sizing: border-box;
    place-content: center;
    z-index: 2;
}

.categories-item {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    font-size: 1.5em;
    box-sizing: border-box;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    text-decoration: none;
}

.categories-item .label{
    background-color: #cc7c7dc9;
    width: 100%;
    height: 100%;
    max-height: 40px;
    text-align: center;
    color: white;
    position: absolute;
    bottom: 0;
    transition: max-height 1s ease;
    overflow: hidden;
    cursor: pointer;
    text-decoration: none;
}

/* .categ .eyes {
    background-image: url(/images/Shop_By_Category/Eyes.webp);
}

.categ .face {
    background-image: url(/images/Shop_By_Category/Face.jpg);
}

.categ .lips {
    background-image: url(/images/Shop_By_Category/Lips.webp);
}

.categ .skincare {
    background-image: url( /images/Shop_By_Category/SkinCare.webp);
}

.categ .nails {
    background-image: url(/images/Shop_By_Category/Nails.webp);
}

.categ .brush {
    background-image: url(/images/Shop_By_Category/Brush.webp);
} */

.categories-item:hover .label {
    max-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Resposiveness */
@media screen and (max-width:1024px) {
    .main {
        height: 100vh;
        background-size: auto;
        background-clip: content-box;
        overflow-x: hidden;
    }
    .content{
        width: 100%;
        height: 100%;
        overflow-x: hidden;
    }
    .categories-container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 30px;
        width: 60%;
        height: 100%;
    }
    .categories-item{
        width: 100%;
        height: 80%;
        font-size: 20px;
    }
    .notifi{
        gap: 200px;
        font-size: 20px;
    }
}

@media screen and (max-width:710px){
    body{
        overflow-x: hidden;
    }
    .main {
        height: 150vh;
        overflow-x: hidden;
        background: none !important;

    }
    .content{
        width: 100%;
        height: 100%;
        overflow-x: hidden;
    }
    .categories-container {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 1fr);
        gap: 20px;
        width: 70%;
        height: 100%;
    }
    .categories-item{
        font-size: 15px;
        width: 100%;
    }
   
    .heading h2{
        text-wrap: nowrap;
    }
    .notifi{
        gap: 200px;
        font-size:15px ;
    }
}

@media (max-width:560px){
    body{
        overflow-x: hidden;
    }
   
    .notifi{
        gap: 100px;
        font-size: 15px;
    }
}
