
.bestseller_container{
    text-align: center;
}
.product-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 20px 0;
}

 .slideBtn {
    margin: 25px auto;
    /* position: relative; */
}

.slideBtn button {
    padding: .25rem .2rem;
    width: 150px;
    height: 50x;
    /* position: absolute; */
    border: 2px solid #E9ACB6;
    outline: none;
    transition: all 0.8s ease;
    font-weight: 600;
} 
/* .slideBtn .first:hover{
    
} */





.first {
    /* right: -10px; */
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    color: white;
    background-color: #E9ACB6;
}

.second {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    background-color: white;
}




.product-card {
    background-color: #FBBDBB;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 264px;
    text-align: center;
    position: relative;
    transition: transform .5s ease-in-out;
}


.product-card:hover {
  
 transform: scale(0.8); /* Scale the box to 80% of its original size */

}




.product-card img {
    width: 100%;
    border-bottom: 1px solid #ddd;
}

.product-info {
    padding: 10px;
}

.product-info h3 {
    margin: 10px 0 5px 0;
    font-size: 16px;
}

.product-info p {
    margin: 5px 0 10px 0;
    color: #666;
}

.product-info button {
    background-color: #888;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

.product-info button:hover {
    background-color:white;
    color: #888;
   
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.pagination button{
    
    border: none;
    background-color: #ffff;
}

.dot {
    height: 15px;
    width: 15px;
    margin: 0 5px;
    background-color: #ccc;
    border-radius: 50%;
    display: inline-block;
}

.dot.active {
    background-color: #e9acb6;
}

.see-all {
    margin: 20px auto;
}

.see-all button {
    /* background-color: #e9acb6; */
    color: #FF5BB1;
    background: #ffff;
    border:2px solid #FF5BB1;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    display: block;
    margin: auto;
}
.see-all button:hover{
    color: #fff;
    background: #FF5BB1 ;
}
/* scroll */

.bar {
    display: flex;
    align-items: center;
    gap: 30px;
    width: 80%;
    max-width: 1000px;
    /* height: 400px; */
    margin: 25px auto;
    position: relative;
    overflow-x: auto;
    scroll-behavior: smooth;
    scroll-snap-align: start;
    padding-bottom: 10px;
}

.card {
    min-width: 23%;
    height: 100%;
    /* background-color: #E9ACB6; */
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    scroll-snap-align: start;

}

.bar img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain; 
    border: 2px solid #E9ACB6;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto; 
    padding: 0; 
    box-sizing: border-box;

    scroll-snap-align: start;
}

.bar::-webkit-scrollbar {
    width: 13px;
    height: 15px;
    
}

.bar::-webkit-scrollbar-thumb{
    background-color: #E9ACB6;
    border-radius:30px;
}

/* scroll end */









@media (max-width: 1167px) {
    .product-container {
        flex-wrap: wrap;
        justify-content:center;
    }

    .product-card {
       
        max-width: 200px;
    }
}


@media (max-width: 480px) {
    .product-card {
        width: 200px;
    }

    .pagination {
        display: none;
    }
}




