.banner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 30px;
}


.banner-card {
    width: 45%;
    margin: 10px;
    overflow: hidden;
}

.banner-card img {
    width: 100%; 
    height: auto;
    /* height: 21vh; */
    display: block; 
    border-radius: 5px; 
}

.banner-image img {
    width: 100%; 
    height: auto; 
    border-radius: .6rem; 
}



@media (max-width: 768px) {
    .banner-container{
        margin-top: 0;
    }
    .heading h2{
        font-size: 1.2rem;
        text-align: center;
    }
    .banner-card {
        width: 100%; 
    }
}

@media (max-width: 480px) {
    .banner-card {
        width: 100%; 
    }
}

@media (max-width: 300px) {
    .banner-card {
        width: 100%; 
    }
}