.banner-slider {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    overflow: hidden;
}

.banner-slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.banner-slide {
    min-width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.banner-image img {
    width: 100%; 
    height: auto; 
    border-radius: .2rem; 
    overflow: hidden;
}

.banner-navigation {
    position: absolute;
    width: 100%;
    top: 50%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.banner-navigation button {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.banner-navigation button:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.banner-dots {
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-dots>.banner-dot {
    height: 15px;
    width: 15px;
    margin: 0 5px;
    border-radius: 50%;
    background-color: #e9acb6;
    transition: 0.2s;
}

.banner-dots>.banner-dot.active {
    width: 30px;
    height: 7.5px;
    border-radius: 10px;
    background-color: #ff5bb1;
}



@media (max-width: 480px) {
    .banner-image {
        width: 100%; 
        height: 100%;
    }
}

@media (max-width: 300px) {
    .banner-image {
        width: 100%; 
        height: 100%;
    }
}
