.banner-slider {
    position: relative;
    width: 100%;
    /* max-width: 1200px; */
    margin: auto;
    overflow: hidden;
}

.banner-slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
    overflow: hidden;
}

.banner-slide {
    min-width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    overflow: hidden;
}
.banner-image img {
    width: 100%; 
    height: auto; 
    border-radius: .2rem; 
    overflow: hidden;
}



.banner-navigation {
    position: absolute;
    width: 100%;
    top: 50%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.banner-navigation button {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.banner-navigation button:hover {
    background-color: rgba(0, 0, 0, 0.7);
}



@media (max-width: 480px) {
    .banner-image {
        width: 100%; 
        height: 100%;
    }
}

@media (max-width: 300px) {
    .banner-image {
        width: 100%; 
        height: 100%;
    }
}
